/* .nav-dark-bg {
    background-color: rgba(0, 0, 0, .4)
} */

/* .container-slc {
    padding-left: 15%;
    padding-right: 15%;
} */

/* .slc-hover-background:hover {

    background: #AD4C66 !important;
    border-color: #AD4C66;
} */

/* .dark-text-hover:hover {
    color: black !important;
} */

/* .white-color {
    color: blanchedalmond !important;
} */


/* .no-border {
    border: none;
} */

/* .height-250 {
    margin: auto;
    max-height: 250px;
    align-self: center;
} */

/* .height-is250 {
    min-height: 200px;
    margin: auto;
    align-self: center;
} */

/* .height-50 {
    height: 500px;
} */

.minw368 {
    min-width: 368px;
}

.link {
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    /* position: absolute;
    width: 80%;
    height: 3px;
    background: #AD4C66;
    top: 100%;
    left: 10%;
    pointer-events: none; */
}

.link::before {
    content: '';
    animation: lineOnLoad 3s ease-in-out 0s 1 forwards;
    position: absolute;
    width: 80%;
    height: 3px;
    background: #AD4C66;
    top: 100%;
    left: 10%;
    pointer-events: none;
    /* show by default */
}

@keyframes lineOnLoad {
    0% {
        transform: scale3d(0, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.link--metis {
    /* font-family: bely-display, sans-serif;
    text-transform: lowercase; */
}

.link-light {
    color: rgb(207, 207, 207) !important;
}

.link-light:hover {
    color: white !important;
}


.link-light.active {
    color: white !important;
}

@media (min-width: 1025px) {  
    .link::before {
        content: '';
        animation: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #AD4C66;
        top: 100%;
        left: 0;
        pointer-events: none;
        /* show by default */
    } 
    .link--metis:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
    }
    .link--metis::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
    }
}

.btn-slc {
    display: inline-block;
    border-radius: 12px;
    background-color: #882345;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Merriweather;
    align-content: center;
}

.btn-slc span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;

}

.btn-slc span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-slc:hover span {
    padding-right: 25px;
    color: white;
}

.btn-slc:hover span:after {
    opacity: 1;
    right: 0;
}

.black-text {
    color: black;
}

.slc-color {
    color: #AD4C66;
}

.rounded-10 {
    border-radius: 10px;
}

.logo {
    max-height: 150px;
    margin-left: -5px;
}

.portraits-front {


    height: 300px !important;

    background-color: #87807C;
    transition: all .3s ease-in-out 0s;

}

.center-content {
    align-content: center;
}

.center-element {
    margin: auto;
    display: block;
}

.wrap-content {

    width: 250.87px !important;
}

.portraits-back {

    height: 300px !important;

    font-size: small;

    background-color: #87807C;
    transition: all .3s ease-in-out 0s;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: #AD4C66;
}

.card-icon-div {
    float: right;

}


.portraits {
    width: 236.87px !important;
}

.portraits-front:hover {
    background-color: #AD4C66;
}

.card-subtitle {
    font-size: small;
}

.no-right-margin {
    margin-right: -20px !important;
}

/* https://dev.to/dailydevtips1/tailwind-zooming-background-images-2bk0?utm_source=dormosheio&utm_campaign=dormosheio */

.card-zoom-h1 {
    @apply items-center justify-center m-5 -mt-[10px] overflow-hidden shadow-xl w-fit h-fit rounded-2xl;
}

.card-zoom-image-h1 {
    @apply w-full h-full transition-all duration-[3s] ease-in-out transform bg-center bg-cover;
}

.card-zoom-h2 {
    @apply relative flex items-center justify-center m-3 overflow-hidden transition-all w-64 h-72 rounded-2xl shadow duration-500;
}

.card-zoom-image-h2 {
    @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover -mt-3;
}

.card-zoom-text-h2 {
    @apply absolute text-5xl font-black transition-all duration-500 ease-in-out transform scale-50 text-black opacity-0 text-center;
}

.group-h1 .card-zoom-image-h1 {
    animation: card-zoom-h1-ani 3s ease-in-out 0s 1 forwards;
    /* @apply lg:scale-105; */
}

@keyframes card-zoom-h1-ani {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.group-h2:hover .card-zoom-h2 { 
    @apply shadow-lg /*bg-[#882345]*/;
}

.group-h2:hover .card-zoom-image-h2 {
    @apply lg:scale-125 lg:opacity-30;
}
.group-h2:hover .card-zoom-text-h2 {
    @apply lg:scale-75 lg:opacity-100;
}