.nav-dark-bg {
    background-color: rgba(0, 0, 0, .4)
}

.container-slc {
    padding-left: 15%;
    padding-right: 15%;
}

.shadow-big {}

.slc-hover-background:hover {

    background: #AD4C66 !important;
    border-color: #AD4C66;
}

.dark-text-hover:hover {
    color: black !important;
}

.white-color {
    color: blanchedalmond !important;
}


.no-border {
    border: none;
}

.height-250 {
    margin: auto;
    max-height: 250px;
    align-self: center;
}

.height-is250 {
    min-height: 200px;
    margin: auto;
    align-self: center;
}

.height-50 {
    height: 500px;
}

.link {
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #AD4C66;
    top: 100%;
    left: 0;
    pointer-events: none;
}


.btn-slc {
    display: inline-block;
    border-radius: 12px;
    background-color: #882345;
    border: none;
    color: white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: Merriweather;
    align-content: center;
}

.btn-slc span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;

}

.btn-slc span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-slc:hover span {
    padding-right: 25px;
    color: white;
}

.btn-slc:hover span:after {
    opacity: 1;
    right: 0;
}

.black-text {
    color: black;
}

.slc-color {
    color: #AD4C66;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis {
    /* font-family: bely-display, sans-serif;
    text-transform: lowercase; */
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

.rounded-10 {
    border-radius: 10px;
}

.logo {
    max-height: 150px;
    margin-left: -5px;
}

.link-light {
    color: rgb(207, 207, 207) !important;
}

.link-light:hover {
    color: white !important;
}


.link-light.active {
    color: white !important;
}

.portraits-front{

    
    height: 300px !important;

    background-color: #87807C;
    transition: all .3s ease-in-out 0s;

}

.portraits-back{

    height: 300px !important;

    background-color: #87807C;
    transition: all .3s ease-in-out 0s;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: #AD4C66;
}

.portraits {
    max-width: 236.87px !important;
}

.portraits-front:hover {
    background-color: #AD4C66;
}
